Data
Dml_pipeline/Data
Data.rar
Water Segmentation Task.pdf
assets
assets/
Docs
Docs/
ml_pipeline/weights
assets
__pycashe__/
*.pyc 
*.pyo
.pytest_cache/
app/controllers/__pycache__/
app/models/__pycache__/
