# Data Science & Arrays
numpy
scikit-learn

# Geospatial & Imaging
rasterio
opencv-python-headlesspillow #  We replace opencv with headless because we doesn't have GUI for WSL 
tifffile
matplotlib

# Deep Learning
tensorflow

# Utilities
tqdm